.features-carousel.owl-theme .owl-controls {
    margin-top: 15px;
}

#features-section {
    padding-top: 0px;
    padding-bottom: 15px;
}

#directions-panel {
    margin-top: 10px;
    background-color: #FFEE77;
    font-size: 12px;
    letter-spacing: 0.72px;
    line-height: 22px;
}

ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

ul.horizontal-slide li[class*="col"] {
    display: inline-block;
    float: none;
}

ul.horizontal-slide li[class*="col"]:first-child {
    margin-left: 0;
}